body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
  }

 *{
  box-sizing:border-box; 
  margin: 0%;
  padding:0%;
 }

h1{
  text-align: center;
  color: rgb(23, 23, 112);
}

 .row{
    width: 100%;
  }

#cont{
 position: relative;
 top:40px;
 margin:15px;
}

.container #sez1 h3{
    background-color: aquamarine;
    border: solid 1px black;
    width:80px;
    float: right;
    position: relative;
    padding: 4px;
    margin: 0%;
}

.container #sez2 h3{
  background-color: rgb(58, 71, 207);
  border: solid 1px black;
  width:80px;
  float: right;
  position: relative;
  padding: 4px;
  margin: 0%;
  }

.container #sez3 h3{
  background-color: rgb(42, 97, 148);
  border: solid 1px black;
  width:80px;
  float: right;
  position: relative;
  padding: 4px;
  margin: 0%;
  }

.container #sez1 p{
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 4px;
  background-color: rgb(19, 200, 241);
  border: solid 1px black;

}

.container #sez2 p{
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 4px;
  background-color: rgb(11, 165, 199);
  border: solid 1px black;
  }

.container #sez3 p{
  padding-top: 15px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 4px;
  background-color: rgb(21, 80, 93);
  border: solid 1px black;
}

@media (min-width: 992px){
  .container #sez1 {
    float:left; 
  }
   .container #sez1 {
    width:33%;
}

   .container #sez2 {
    float:left; 
    }
   .container #sez2 {
    width:33%;
}

   .container #sez3 {
    float:left;
    }
   .container #sez3{ 
    width:33%;
}}

@media (min-width: 768px) and (max-width: 991px){
  .container #sez1{
    float:left;
    width:50%;
    }
  .container #sez2{
      float:left;
      width: 50%;
    }
  .container #sez3{
    float: left;
    width: 100%;
    }}

@media (max-width: 767px){
   .container #sez1{
    float: left;
    width:100%;
}
   .container #sez2{
    float: left;
    width:100%;
}
   .container #sez3{
    float: left;
    width:100%;
}}